<h1> Quote of the Day: </h1>
<h2> <%= @quote_of_the_day %> </h2>  <h4> - <%= @author_QOTD %> </h4>
<hr/>

<div class="tables" >
  <th > 
    <h3> These are the past daily Quotes</h3>
    <ul>
       <li> Date </li>
       <li> Quote </li>
       <li> Author </li>
    </ul>
  </th>

  <tr>
    <ul List Here >
      <li>  <%= @date_QOTD %> </li>
      <li>  <%= @quote_of_the_day %> </li>
      <li> <%= @author_QOTD %>  </li>
    </ul>
  </tr>

</div>  